.form {
    /* width: 100%; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .registerInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .label {
    width: 40%;
    color: #673ab7;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 5px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  }
  
  .loginBtn {
    margin-top: 20px;
    text-align: center;
  }
  
  .inputReg {
    width: 40%;
    margin: 0 auto;
  }